{% extends 'users/base.html' %}
{% load tailwind_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="bg-gradient-custom h-screen flex justify-center items-center">
        <div class="bg-white rounded-lg shadow-lg max-w-md p-4">
            <div class="text-center my-2">
                <a href="{% url 'home:index' %}">
                    <h1 class="text-4xl font-extrabold text-gradient">
                        Event Planner
                    </h1>
                </a>
            </div>
            <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>

            <form id="loginForm" action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                	{% include 'account/includes/field_error.html' with errors=form.non_field_errors %}
                {% endif %} 
            
                {% for field in form %}
                    {% if field.name == 'remember' %}
                        <div class="flex items-center gap-3 mb-3">
                            {{ field }}
                            <label for="">{{ field.label }}</label>
                        </div>
                    {% else %}
                        {% if field.errors %}
                            {% include 'account/includes/field_error.html' with errors=field.errors %}
                        {% endif %}
                        {{ field }}
                    {% endif %}

                {% endfor %}

                <button
                        type="submit"
                        id="loginButton"
                        class="w-full p-3 bg-secondary text-white border border-transparent rounded-lg hover:bg-transparent hover:border-secondary hover:text-secondary cursor-pointer focus:outline-none focus:ring-2 focus:ring-secondary"
                >
                    Login
                </button>
            </form>

            <div id="errorMessage" class="text-red-500 text-sm mt-4 block hidden">
                Error message would appear here
            </div>

            <div class="mt-4 text-center">
                <span class="text-gray-600">Don't have an account? </span>
                <a href="{% url 'account_signup' %}" class="text-secondary hover:underline">
                    Register
                </a>
            </div>
        </div>
    </div>
{% endblock %}