<div class="footer bg-primary text-white py-8">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- Grid with Responsive Columns -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <ul class="fList space-y-4">
                <li class="fListItem font-semibold">Regions</li>
                <li class="fListItem">Cities</li>
                <li class="fListItem">Districts</li>
                <li class="fListItem">Airports</li>
                <li class="fListItem">Hotels</li>
            </ul>

            <ul class="fList space-y-4">
                <li class="fListItem font-semibold">Car rental</li>
                <li class="fListItem">Flight Finder</li>
                <li class="fListItem">Restaurant reservations</li>
                <li class="fListItem">Travel Agents</li>
            </ul>

            <ul class="fList space-y-4">
                <li class="fListItem font-semibold">Customer Service</li>
                <li class="fListItem">Partner Help</li>
                <li class="fListItem">Careers</li>
                <li class="fListItem">Sustainability</li>
                <li class="fListItem">Press center</li>
                <li class="fListItem">Safety Resource Center</li>
                <li class="fListItem">Investor relations</li>
                <li class="fListItem">Terms &amp; conditions</li>
            </ul>
        </div>
        <div class="border-t border-gray-500 my-4"></div>
        <div class="text-center text-sm mt-8">
            <p>&copy;2025 Event Planner. All rights reserved.</p>
        </div>
    </div>
</div>
