<div class="w-full bg-secondary text-white py-5 px-6">
    <div class="max-w-screen-xl mx-auto">
        <!-- Header List -->
        <div class="flex gap-8 font-semibold text-lg">
            <div class="border-b-2 border-white pb-1">Venue</div>
            <div class="hover:border-b-2 hover:border-white cursor-pointer">Transportation</div>
            <div class="hover:border-b-2 hover:border-white cursor-pointer">Car Decoration</div>
            <div class="hover:border-b-2 hover:border-white cursor-pointer">Photographer</div>
            <div class="hover:border-b-2 hover:border-white cursor-pointer">Bus Rent</div>
        </div>
    </div>
</div>