<div class="mail bg-secondary text-white flex flex-col items-center gap-5 py-24">
  <h1 class="text-4xl font-semibold">Make your event Memorable</h1>
  <span class="text-lg">Sign up to get the best deals</span>
  <div class="mailInputContainer flex items-center gap-3">
    <input type="email" name="email" placeholder="Your Email" class="border-1 p-3 rounded-lg" />
    <button class="h-12 border-1 bg-primary text-white font-semibold rounded-lg cursor-pointer px-6">Subscribe</button>
  </div>
</div>